# reddit-worker
REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_SECRET=your_client_secret
LIMIT=50

# service URLs
REDDIT_WORKER_URL=http://reddit-worker:8001
SENTIMENT_ANALYZER_URL=http://sentiment-analyzer:8002

# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TTL=600
QUEUE_NAME=analysis

# postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postmood
POSTGRES_USER=postmood
POSTGRES_PASSWORD=postmood

# general
PYTHONUNBUFFERED=1